<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1280, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My App</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
</head>
<body>
    <div class="container">
        <h1><%= title %></h1>
        <ul>
            <% for (var i=0 ; i < items.length; i++) { %>
                <li><%= items[i].desc %></li>
            <% } %>
        </ul>
        
        <form action="/add" method="post">
            <input type="text" name="newItem">
            <input type="submit">
        </form>
    </div>
    
    <script src="jquery/dist/jquery.js"></script>
    <script src="bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>